<div class="container">
  <% if flash.has?(:error) %>
    <div class="alert alert-danger fade-out"><%= flash[:error] %></div>
  <% elsif flash.has?(:success) %>
    <div class="alert alert-success fade-out"><%= flash[:success] %></div>
  <% end %>
  <h1>User Log Entries</h1>


  <ul class="list-group">
    <% @sightings.each do |sighting| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="/sightings/<%= sighting.id %>"><%= sighting.location %> - <%= sighting.time_date %></a>
        <a href="/birds/<%= sighting.bird.id %>"><%= sighting.bird.species %></a>
      </li>
    <% end %>  
  </ul> 
</div>  