<div class="container">
  <% if flash.has?(:error) %>
      <div class="alert alert-danger fade-out"><%= flash[:error] %></div>
    <% elsif flash.has?(:success) %>
      <div class="alert alert-success fade-out"><%= flash[:success] %></div>
    <% end %>

  <div class="page-title">
    <div class="header-plus">
      Sighting
    </div>
      <form action="/sightings/new">
        <input type="submit" class="btn btn-outline-primary" value="Add New Sighting">
      </form>
      <% if @sighting.user == current_user%>
      <form action="/sightings/<%=@sighting.id %>/edit">
        <input type="submit" class="btn btn-outline-primary" value="Edit Sighting">
      </form>
      <form action="/sightings/<%=@sighting.id%>/delete" method="POST">
      <input type="hidden" id="hidden" name="_method" value ="DELETE">
      <input type="submit" class="btn btn-outline-primary" value="Delete Sighting">
    </form>

  <% end %>
  </div>   
  <h><a href="/users/<%=@sighting.user.id%>"><%=@sighting.user.username.capitalize %></a> Spotted a 
    <a href="/birds/<%=@sighting.bird.id%>"><%=@sighting.bird.species%></a></h3>
  <h3><%=Date.parse(@sighting.time_date).strftime('%A %B %e, %Y')%> - <%=@sighting.location %></h3>
  <p><%=@sighting.description %></p>
  <div>
    <%=@sighting.bird.species %>
    <article class="clearfix">
      <img class="main-image" src="<%=@sighting.bird.image_url %>" alt="This should be a picture of a(n) <%=@sighting.bird.species%>">
      <div class="summary"><%=@sighting.bird.summary_parse%>
        <a href="<%=@sighting.bird.page_url %>">Read More</a>
      </div>
    </article>
  </div>

  
</div>