<div class="container">
  <% if flash.has?(:error) %>
    <div class="alert alert-danger fade-out"><%= flash[:error] %></div>
  <% elsif flash.has?(:success) %>
    <div class="alert alert-success fade-out"><%= flash[:success] %></div>
  <% end %>

  
  <h1 class="header-plus"><%= @user.username.capitalize %></h1>
  <div class="header-plus">
    <a href="/sightings/new">Add New Sighting</a>
  </div>   

  <h3>Sightings Log</h3> 
  
  <div>
  <% if !@user.sightings.empty?%> 
    <ul>
    <% @user.sightings.each do |sighting| %>
    <li><a href="/sightings/<%=sighting.id%>"><%=sighting.time_date%> - <%=sighting.location %></a>  - 
        <a href="/birds/<%=sighting.bird.id%>"><%=sighting.bird.species%></a>   
        <p><%=sighting.description %></p>     
    </li>
    <% end %>
    </ul>
  <% end %>  
  
  </div>
</div>

