<h1><%= @user.username %></h1>

<h3>Sightings Log</h3>


  <% if !@user.sightings.empty?%> 
    <ul>
    <% @user.sightings.each do |sighting| %>
    <li><a href="/sightings/<%=sighting.id%>"><%=sighting.time_date%> - <%=sighting.location %></a>  - 
        <a href="/birds/<%=sighting.bird.id%>"><%=sighting.bird.species%></a>        
    </li>
    <% end %>
    </ul>
  <% end %>  
  <% if @user == current_user %>
    <%#  refactor as partial? %>
    <h3>Add a new Bird Sighting</h3>
    <form action='/sightings' method="POST" id="new_sighting_form">
    <p><label for="sighting_location">Location:</label>
    <input type="text" name="sighting[location]" required>
    </p>
    <p><label for="sighting_time_date">Time/Date:</label>
    <input type="text" id=""sighting_time_date" name="sighting[time_date]" required>
    </p>
    <p><label for="bird_species">Bird:</label>
    <input type="text" id="bird_species" name="bird[species]" required>
    </p>
    <p><label for="description">Description:</label>
    <p>
      <textarea rows="4" cols="60" name="sighting[description]" id="description" form="new_sighting_form"></textarea>
  </p>
    <input type="submit" value="Add Sighting">
  <% end %>


