<div class="container">
   <div class="page-title">
    <div class="header-plus">
      Birds
    </div>
    <form action="/birds/new">
        <input type="submit" class="btn btn-outline-primary" value="Add New Bird">
      </form>
      <form action="/sightings/new">
        <input type="submit" class="btn btn-outline-primary" value="Add New Sighting">
      </form>
  </div>   

  <div class="bird-display">
  <% @birds.each do |bird| %>

    <div class="card">
      <img class="card-img-top " src="<%=bird.image_url%>" alt="<%=bird.species %>">
      <div class="card-body">
        <h4 class="card-title"><%=bird.species%></h4>
        <p class="card-text">Sightings: <%=bird.sightings.size %></p>
        <a href="/birds/<%= bird.id %>" class="btn btn-primary">See More</a>

      </div>
    </div>
  <%end%>

  </div>  
</div>   