<div class="container">
  <% if flash.has?(:error) %>
    <div class="alert alert-danger fade-out"><%= flash[:error] %></div>
  <% elsif flash.has?(:success) %>
    <div class="alert alert-success fade-out"><%= flash[:success] %></div>
  <% end %>

  <div class="page-title">
    <div class="header-plus">
      <h1><%=@bird.species %></h1>
  </div>
    <form action="/birds/<%=@bird.id%>/edit">
          <input type="submit" class="btn btn-outline-primary" value="Edit Bird">
        </form>
        <form action="/birds/<%=@bird.id%>/delete" method="post">
          <input type="hidden" id="hidden" name="_method" value ="DELETE"> 
          <input type="submit" class="btn btn-outline-primary" value="Delete">
        </form>
  </div>
  <article class="clearfix">
    <img class="main-image" src="<%=@bird.image_url %>" alt="This should be a picture of a(n) <%=@bird.species%>">
    <div class="summary"><%=@bird.summary_parse%>
      <a href="<%=@bird.page_url %>">Read More</a>
    </div>
  </article>
  <h3>Sightings:</h3>
  <ul>
  <% @bird.sightings.each do |sighting| %>
    <li><a href="/sightings/<%=sighting.id%>"><%=sighting.location; sighting.time_date%></a></li>
    <% end %>
  </ul>


  <!-- <h3>Images:</h3> -->


  <!-- <h3>Additional information:</h3> -->
      
</div>
